* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: "GothamPro";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}

header {
    height: 50px;
    background-color: #fff;
}

.titHead,
.fon,
.info,
footer {
    -webkit-background-size: cover;
    background-size: cover;
    background: no-repeat center;
}

.titHead {
    height: 335px;
    margin-bottom: -51px;
}

.fon {
    height: 50px;
}

.info {
    height: 465px;
}

footer {
    height: 510px;
}

header {
    display: table;
    width: 100%;
    float: left;
}

header .item {
    display: block;
    width: 33.3333%;
    float: left;
    height: 50px;
}

header .lang {
    display: block;
    width: 33.3333%;
    float: left;
}

header .contacts {
    display: block;
    width: 33.3333%;
    float: right;
}

header img {
    display: inline-block;
    padding-top: 10px;
}

header .clock {
    padding: 0 0px;
}

header .date {
    display: block;
    font-size: 12px;
    line-height: 13px;
    color: #8a8a8a;
    padding-left: 145px;
    margin-top: -30px;
}

header .time {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

header .weekday {
    display: block;
    font-size: 12px;
    line-height: 13px;
    color: #8a8a8a;
    padding-left: 145px;
}

header .lang {
    display: table;
    width: 25%;
    float: left;
}

.lang .language {
    display: block;
    width: 20%;
    float: left;
}

.lang .social {
    display: block;
    width: 80%;
    float: left;
    padding-left: 20px;
}

.language img {
    position: absolute;
}

.language select {
    margin-left: 30px;
    margin-top: 15px;
}

.language option {
    font-size: 14px;
    line-height: 36px;
    color: #212428;
    font-weight: bold;
}

header .contacts a {
    position: relative;
    font-size: 20px;
    line-height: 36px;
    color: #212428;
    text-decoration: none;
    font-weight: bold;
}

.logoTit {
    width: 200px;
    height: 70px;
    float: left;
}

.unite {
    padding-top: 45px;
}

.title {
    font-size: 27px;
    line-height: 30px;
    color: #ffffff;
}

.beInvest {
    font-size: 45px;
    line-height: 50px;
    color: #ffffff;
}

.logoSlider li a {
    font-size: 14px;
    line-height: 36px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.logoSlider li a:hover {
    color: #63a6bc;
}

.logoSlider li {
    display: inline-block;
    margin-right: 30px;
    float: left;
}

.logoSlider {
    float: right;
}

.title {
    margin-left: 90px;
    margin-top: -65px;
}

form button:nth-child(1) {
    font-size: 15px;
    line-height: 27px;
    color: #68daff;
    border-color: #68daff;
    background: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

form button:nth-child(1):hover {
    background-color: blue;
}

form button:nth-child(2) {
    font-size: 15px;
    line-height: 27px;
    color: #db4472;
    border-color: #db4472;
    background: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

form button:nth-child(2):hover {
    background-color: red;
}

.forms {
    padding-top: 60px;
}

.forms .beInvest {
    float: left;
}

.forms form {
    float: right;
}

.fon {
    height: 50px;
}

.currency li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 15px;
}

.currency {
    padding-left: 50px;
}

.currency li span:first-child {
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
}

.currency li span:last-child {
    font-size: 13px;
    line-height: 24px;
    color: #b0b0b0;
}

.currency li span .blue {
    color: #63a6bc;
}

.currency li span .red {
    color: #a5345c;
}

.info p {
    font-size: 17px;
    line-height: 27px;
    color: #54565a;
    padding-top: 90px;
}

.info h1 {
    font-size: 30px;
    line-height: 50px;
    color: #212428;
    padding-top: 90px;
    padding-left: 425px;
}

.menuPart li a {
    font-size: 17px;
    line-height: 27px;
    color: #212428;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menuPart li {
    display: inline-block;
    margin-left: 100px;
}

.info.ui-tabs {
    padding: 0px;
}

.info.ui-tabs .ui-tabs-nav {
    padding: 0px;
}

.info.ui-tabs .ui-tabs-nav {
    margin: 0px;
    padding: 0px;
}

.info.ui-tabs .ui-tabs-nav li.ui-tabs {
    margin: 0px;
    padding: 0px;
}

.info.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0 15px;
}

.info.ui-tabs .ui-tabs-panel {
    padding: 0px;
}

.info .tabs a {
    display: block;
    font-size: 14px;
    color: #999999;
    text-decoration: none;
    padding: 0 15px;
    outline: none;
    height: 45px;
    line-height: 45px;
}

.info .tabs li.ui-tabs a,
.info .tabs li a:hover {
    border: none;
    background-color: #f2fff7;
    color: #54565a;
    cursor: pointer;
}

.manyLevel {
    height: 800px;
}

.infoPart .text:nth-child(1) {
    font-size: 17px;
    line-height: 27px;
    color: #54565a;
    padding-top: 90px;
}

.infoPart .text {
    font-size: 17px;
    line-height: 27px;
    color: #54565a;
}

.program {
    display: table;
    width: 100%;
    float: left;
    padding-top: 100px;
}

.program .partProgram {
    display: block;
    width: 33.3333%;
    float: left;
}

.program .logo {
    display: block;
    width: 33.3333%;
    float: left;
}

.program .vipProgram {
    display: block;
    width: 33.3333%;
    float: right;
}

.partProgram h4 {
    font-size: 20px;
    line-height: 27px;
    color: #a5345c;
    font-weight: bold;
    text-transform: uppercase;
}

.partProgram img {
    position: relative;
    margin-top: 25px;
}

.partProgram li span {
    position: absolute;
    font-size: 40px;
    line-height: 27px;
    color: #ffffff;
    margin-left: -75px;
    padding-top: 45px;
}

.partProgram li .partPercent {
    font-size: 15px;
    line-height: 22px;
    color: #212428;
    font-weight: bold;
    margin-left: 40px;
}

.partProgram .text {
    font-size: 15px;
    line-height: 22px;
    color: #54565a;
    padding-top: 35px;
}

.partProgram .text span {
    font-size: 15px;
    line-height: 22px;
    color: #a5345c;
    font-weight: bold;
}

.vipProgram h4 {
    float: right;
    font-size: 20px;
    line-height: 27px;
    color: #a5345c;
    font-weight: bold;
    text-transform: uppercase;
}

.vipProgram img {
    position: relative;
    margin-top: 25px;
    padding-left: 290px;
}

.vipProgram li .percent {
    position: absolute;
    font-size: 40px;
    line-height: 27px;
    color: #ffffff;
    margin-left: 310px;
    margin-top: -55px;
}

.vipProgram li .partPercent_1 {
    position: absolute;
    font-size: 15px;
    line-height: 22px;
    color: #212428;
    font-weight: bold;
    margin-top: -55px;
    text-align: right;
}

.vipProgram .text {
    font-size: 15px;
    line-height: 22px;
    color: #54565a;
    padding-top: 35px;
    text-align: right;
}

.vipProgram .text span {
    font-size: 15px;
    line-height: 22px;
    color: #a5345c;
    font-weight: bold;
}

.bonusProg {
    height: 930px;
}

.infoBonus p {
    font-size: 17px;
    line-height: 27px;
    color: #54565a;
    padding-top: 90px;
}

.fonBonus {
    margin-top: 90px;
    height: 600px;
}

.menuBonus {
    width: calc(100% - 970px);
    float: left;
}

.menuBonus li {
    display: block;
    font-size: 17px;
    line-height: 70px;
    color: #212428;
    font-weight: bold;
    text-transform: uppercase;
}

.menuBonus {
    padding-left: 30px;
}

.invest {
    display: table;
    width: 970px;
}

.invest .deposit {
    display: block;
    width: 50%;
    float: left;
    padding-left: 70px;
    padding-top: 50px;
}

.deposit h1 {
    font-size: 20px;
    line-height: 27px;
    color: #a5345c;
    text-transform: uppercase;
    font-weight: bold;
}

.deposit li .depositLevel {
    position: absolute;
    display: block;
    float: left;
    font-size: 15px;
    line-height: 22px;
    color: #212428;
    font-weight: bold;
    padding-left: 120px;
    margin-top: -5px;
}

.deposit li .level {
    position: absolute;
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    margin-top: -5px;
}

.deposit img {
    position: absolute;
    margin-top: -20px;

}

.deposit li {
    padding-top: 60px;
}

.invest .forexBonus {
    display: block;
    width: 50%;
    float: right;
    padding-left: 50px;
}

.buttonBonus {
    height: 120px;
    width: 390px;
    padding-top: 50px;
}

.buttonBonus img {
    position: absolute;
    display: block;
}

.buttonBonus .textBonus {
    position: absolute;
    display: block;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    font-weight: bold;
    margin-top: -50px;
    padding-left: 80px;
    text-align: center;
}

.buttonBonus span {
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
}

.buttonBonus1 {
    height: 120px;
    width: 390px;
    padding-top: 70px;
}

.buttonBonus1 img {
    position: absolute;
    display: block;
}

.buttonBonus1 .textBonus1 {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    font-weight: bold;
    margin-top: -50px;
    text-align: center;
}

.buttonBonus1 span {
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
}

.forexFried {
    display: block;
    padding-top: 100px;
}

.forexFried h1 {
    text-align: right;
    font-size: 20px;
    line-height: 27px;
    color: #a5345c;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 40px;
}

.forexFried li {
    padding-top: 44px;
}

.forexFried img {
    position: absolute;
}

.forexFried span {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #212428;
    font-weight: bold;
    padding-left: 50px;
}

.forexFried li .level {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.oficeProg {
    height: 1400px;
}

.steps {
    padding-top: 100px;
    display: table;
    width: 100%;
    float: left;
}

.steps .stepOffice {
    display: block;
    width: 33.3333%;
    float: left;
}

.steps .logo {
    display: block;
    width: 33.3333%;
    float: left;
    padding: 0px 35px;
}

.steps .stepOffice1 {
    display: block;
    width: 33.3333%;
    float: right;
}

.stepOffice img {
    position: absolute;
    display: block;
}

.stepOffice p {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #212428;
    padding-left: 70px;
}

.stepOffice .textBold {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #212428;
    font-weight: bold;
}

.stepOffice .numberOf {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
}

.stepOffice1 img {
    position: absolute;
    display: block;
}

.stepOffice1 p {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #212428;
    padding-left: 70px;
}

.stepOffice1 .textBold {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #212428;
    font-weight: bold;
}

.stepOffice1 .numberOf1 {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
}

.infoOffice p {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #54565a;
    padding-top: 480px;
}

.informationOffice h2 {
    position: relative;
    display: block;
    padding-top: 100px;
    padding-left: 320px;
    font-size: 30px;
    line-height: 27px;
    color: #a5345c;
    font-weight: bold;
    text-transform: uppercase;
}

.information .step {
    position: relative;
    padding: 0 140px;
}

.information {
    position: relative;
    padding-top: 70px;
}

.information .step .in {
    position: relative;
    padding: 38px 24px 0 33px;
    min-height: 110px;
    background-color: #ffffff;
}

.information .step + .step {
    margin-top: 20px;
}

.information .step .titleStep {
    display: block;
    width: 230px;
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.information p span {
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    color: #212428;
}

.information .step .num {
    position: absolute;
    display: block;
    top: 0;
    font-size: 77px;
    font-weight: bold;
    color: #73b6cc;
}

.information .step.left .num {
    left: 0;
}

.information .step.right .num {
    right: 0;
}

.information .step .in .mark {
    position: absolute;
    display: block;
    top: 38px;
    width: 35px;
    height: 25px;
    background-color: #a5345c;
}

.information .step .in .mark::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 25px solid #a5345c;
}

.information .step.left .in .mark::before {
    right: 100%;
    border-left: 9px solid transparent;
    border-right: 0px solid transparent;
}

.information .step.right .in .mark::before {
    left: 100%;
    border-left: 0px solid transparent;
    border-right: 9px solid transparent;
}

.information .step.left .in .mark {
    left: -21px;
}

.information .step.right .in .mark {
    right: -21px;
}

.descr p {
    font-size: 15px;
    line-height: 22px;
    color: #54565a;
}

.payment {
    height: 330px;
}

.payment li {
    position: relative;
    display: inline-block;
    margin-left: 85px;
    padding-top: 140px;
}

.payment .border {
    position: absolute;
    padding-top: 100px;
}

.license {
    display: table;
    width: 50%;
    float: left;
}

.license .licence {
    position: relative;
    padding-top: 100px;
    display: block;
    width: 50%;
    float: left;
}

.license .licenceLogo {
    position: relative;
    padding-top: 100px;
    display: block;
    width: 50%;
    float: right;
}

.contacts {
    display: table;
    width: 50%;
    float: left;
}

.contacts .aboutComp{
    padding-top: 50px;
    display: block;
    width: 50%;
    float: left;
}

.contacts .contactComp{
    padding-top: 50px;
    display: block;
    width: 50%;
    float: right;
}

.copyrightComp .copyright {
    display: block;
    float: left;
}

.copyrightComp .social {
    display: block;
    float: right;
}

.licenceLogo .logoTF img {
    display: block;
    float: left;
}

.licenceLogo .logoTF span {
    display: block;
    float: left;
    font-size: 27px;
    line-height: 30px;
    color: #ffffff;
}

.licenceLogo .address span {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 22px;
    color: #bdbdbd;;
}

.licenceLogo .address h3 {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

.licenceLogo .address  .registrationN {
    padding-top: 100px;
}

.address .checkReg {
    padding-top: 80px;
}

.checkReg button {
    font-size: 15px;
    line-height: 27px;
    color: #68daff;
    border-color: #68daff;
    background: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.checkReg button:hover {
    background-color: blue;
}

.contacts .aboutComp h3 {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 50px;
}

.contacts .aboutComp li {
    display: block;
    font-size: 13px;
    line-height: 25px;
    color: #bdbdbd;
}

.contacts .contactComp h3 {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 50px;
}

.contacts .contactComp li {
    display: block;
    font-size: 13px;
    line-height: 25px;
    color: #bdbdbd;
}

.copyrightComp {
    height: 50px;
}

.copyright p {
    font-size: 13px;
    line-height: 18px;
    color: #bdbdbd;
    padding-top: 10px;
}

.copyright span {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

.contactComp li span {
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
}

.contactComp li a {
    font-size: 13px;
    line-height: 25px;
    color: #73b6cc;
}

.social img {
    padding-top: 10px;
}

.up {
    position: fixed;
    left: 10px;
    bottom: 20px;
    font-size: 20px;
    height: 60px;
    width: 80px;
    border-radius: 50%;
    text-decoration: none;
    border: 1px solid rgb(234, 142, 10);
    color: #73b6cc;
    outline: none;
    background-color: #a5345c;
}